.ccls
.ccls-cache/
*.o
*.lo
plotutils-2.6.tar.gz
/Makefile
/config.h
/config.log
/config.status
/doc/Makefile
/double/.deps/
/double/Makefile
/double/double
/fonts/Makefile
/fonts/bdf/Makefile
/fonts/pcf/Makefile
/fonts/pfb/Makefile
/graph/.deps/
/graph/.libs/
/graph/Makefile
/graph/fontlist.c
/graph/graph
/hersheydemo/.deps/
/hersheydemo/.libs/
/hersheydemo/Makefile
/hersheydemo/hersheydemo
/include/Makefile
/info/Makefile
/lib/.deps/
/lib/Makefile
/lib/libcommon.a
/libplot/.deps/
/libplot/.libs/
/libplot/Makefile
/libplot/libplot.la
/libplot/mi_alloc.c
/libplot/mi_api.c
/libplot/mi_api.h
/libplot/mi_arc.c
/libplot/mi_arc.h
/libplot/mi_canvas.c
/libplot/mi_fllarc.c
/libplot/mi_fllarc.h
/libplot/mi_fllrct.c
/libplot/mi_fply.h
/libplot/mi_fplycon.c
/libplot/mi_gc.c
/libplot/mi_gc.h
/libplot/mi_line.h
/libplot/mi_ply.c
/libplot/mi_ply.h
/libplot/mi_plycon.c
/libplot/mi_plygen.c
/libplot/mi_plypnt.c
/libplot/mi_plyutil.c
/libplot/mi_scanfill.h
/libplot/mi_spans.c
/libplot/mi_spans.h
/libplot/mi_version.c
/libplot/mi_widelin.c
/libplot/mi_widelin.h
/libplot/mi_zerarc.c
/libplot/mi_zerarc.h
/libplot/mi_zerolin.c
/libplot/xmi.h
/libplotter/.deps/
/libplotter/Makefile
/libtool
/libxmi/.deps/
/libxmi/Makefile
/libxmi/info/Makefile
/ode-examples/Makefile
/ode/.deps/
/ode/Makefile
/ode/ode
/pic2plot/.deps/
/pic2plot/Makefile
/pic2plot/doc/Makefile
/pic2plot/include/Makefile
/pic2plot/libgroff/.deps/
/pic2plot/libgroff/Makefile
/plot/.deps/
/plot/.libs/
/plot/Makefile
/plot/fontlist.c
/plot/plot
/plotfont/.deps/
/plotfont/.libs/
/plotfont/Makefile
/plotfont/fontlist.c
/plotfont/plotfont
/spline/.deps/
/spline/Makefile
/spline/spline
/stamp-h1
/tek2plot/.deps/
/tek2plot/.libs/
/tek2plot/Makefile
/tek2plot/fontlist.c
/tek2plot/tek2plot
/tek2plot/teksamples/Makefile
/test/Makefile
*.in
Makefile
autom4te.cache/
*.m4
configure
*~
